

.Scrolling-container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    flex-direction: column;
    height: 130vh;
}

.Scrolling-content {
    text-align: center;
    top: 5%;
    transform: translateY(-30%);
    margin-bottom: 0rem;
    position: relative; 
    margin-top: 5rem;
}

.Scrolling-content h1 {
    font-size: 70px;
    padding-top: 30px;
    margin: 5px;
}

.Scrolling-video {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    width: 70%;
    position: absolute;
    top: 0;
    transition: top 0.3s ease-in-out;
    z-index: 2;
}

.Scrolling-video .image-container {
    display: none;
    opacity: 0;
    width: 100%;
  
    border-radius: 30px;
}


.Scrolling-video video {
    display: block;
    width: 100%;
}

.scroll-option {
    overflow-x: scroll;
}

.scroll-option .Scrolling-video {
    position: static;
    margin: auto;
    top: auto;
    transition: top 0.5s ease;
}
.Scrolling-video{
    gap: 30px;
}

.fast {
    color: #188038;
    background-color: #CEEAD6;
    border-radius: 50px;
    justify-items: center;
     padding-left: 10px;
    padding-right: 20px;
    
}
.fast span{
    font-size: 50px;
}
.fast-text{
    font-size: 50px;
}



.Scrolling-video video {
    width: 100%;
}
